<!DOCTYPE html>

<html>

<body>



<h2>{{data}}</h2>



<form action = 'http://192.168.0.105:8000/home/add/' method='get'>



  <input type="text" id="fname" name="id" value="John"><br>

 

  <input type="text" id="lname" name="last" value="Doe">

  <input type="text" id="lname" name="first" value="Doe">

  <input type="text" id="lname" name="email" value="Doe">

  <input type="text" id="lname" name="city" value="Doe">

  <input type="submit" id="lname" name="submit" value="submit">

</form>







</body>

</html>

